# Auth0
AUTH0_SECRET=
AUTH0_BASE_URL=http://localhost:3000
AUTH0_ISSUER_BASE_URL=https://mykb.auth0.com
AUTH0_CLIENT_ID=
AUTH0_CLIENT_SECRET=
AUTH0_AUDIENCE=https://mykb.bryanlam.dev/api

# API (server-side only, used in next.config.ts rewrites)
API_URL=http://localhost:3333
