# Node
TZ=UTC
PORT=3333
HOST=localhost
NODE_ENV=development

# App
LOG_LEVEL=info
APP_KEY=
APP_URL=http://${HOST}:${PORT}

# Auth0
AUTH0_ISSUER_BASE_URL=https://mykb.bryanlam.dev
AUTH0_AUDIENCE=https://mykb.bryanlam.dev/api

# AI
GEMINI_API_KEY=

# Content Safety
GOOGLE_SAFE_BROWSING_API_KEY=

# Storage (OCI Object Storage)
OCI_OBJECT_STORAGE_NAMESPACE=
OCI_OBJECT_STORAGE_BUCKET=
OCI_ACCESS_KEY=
OCI_SECRET_KEY=